*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0 15px 2px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 0 15px 2px rgba(0, 1, 1, 0.2);
}

.page-header {
  position: relative;
  background-color: #ffffff;
}

.page-navigation {
  position: relative;
}

.page-logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/page-logo.png");
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-menu {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-menu-item {
  width: 240px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 6%
}

.page-menu-item:nth-child(2) {
  margin-right: 240px;
}

.page-menu-item:nth-child(3), .page-menu-item:nth-child(4) {
  text-align: right;
  padding-left: 0;
  padding-right: 6%
}

.page-menu-item-link {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.page-menu-item-link:hover {
  color: #81b3d2;
}

.page-menu-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-menu-item-link-active, .page-menu-item-link-active:hover, .page-menu-item-link-active:active {
  color: #766357;
  cursor: default;
}

.intro {
  background-color: #788cb5;
  background-image: url("../img/decor-for-photo.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 451px, center -56px;
  ;
  text-align: center;
  padding-top: 76px;
}

.intro-welcome {
  width: 458px;
  height: 352px;
  margin-bottom: 71px;
}

.intro-title {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 51px;
}

.intro-caption {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  max-width: 510px;
}

.intro-info {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.info-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.info-block-photo-img {
  display: block;
  width: 800px;
  height: 256px;
}

.info-block-features {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  height: 256px;
  width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  min-height: 256px;
  padding-top: 47px;
  padding-bottom: 47px;
  overflow-y: auto;
}

.info-caption {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  max-width: 151px;
}

.info-number {
  position: relative;
  display: block;
  margin-bottom: 19px;
}

.info-number::before, .info-number::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.info-number::before {
  left: -13px;
}

.info-number::after {
  right: -12px;
}

.info-text {
  font-size: 14px;
  line-height: 21px;
  max-width: 279px;
  padding: 0;
  margin: 0;
}

.services {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-transform: uppercase;
}

.services-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  width: 400px;
  padding-top: 55px;
  padding-bottom: 83px;
  text-align: center;
}

.services-item-img {
  margin-bottom: 22px;
}

.services-icon {
  width: 74px;
  height: 76px;
}

.icon-house {
  width: 75px;
}

.services-item-caption {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 23px;
}

.services-item-info {
  font-size: 14px;
  line-height: 21px;
  max-width: 290px;
  padding: 0;
  margin: 0;
}

.bg-gray {
  background-color: #eeeeee;
  color: #333333;
}

.color-black {
  color: #000000;
}

.bg-black::before, .bg-black::after {
  background-color: #979797;
}

.max-width {
  max-width: 302px;
}

.search-title {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 53px;
}

.search-title-caption {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 27px;
}

.search-title-info {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.search-btn {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 0;
  width: 568px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #766357;
  border: none;
  cursor: pointer;
}

.map-and-search-form {
  position: relative;
  min-height: 593px;
  background-color: #f2f1ef;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 593px;
  overflow: hidden;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #ffffff;
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  padding-top: 53px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 15px 2px rgba(0, 1, 1, 0.2);
  box-shadow: 0 0 15px 2px rgba(0, 1, 1, 0.2);
}

.js-form-hidden {
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.js-form-transition {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.arrival, .departure, .number-of-adults, .amount-of-children {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 28px;
}

.search-form-label {
  display: block;
  width: 100px;
  margin-right: 13px;
}

.short-label {
  width: 52px;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  font-size: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  -webkit-user-select: none;
  cursor: pointer;
}

.calendar-icon:hover {
  background-position: -36px -5px;
}

.calendar-icon:active {
  background-position: -67px -5px;
}

.search-form-amount {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}

.minus-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 83px;
  font-size: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -141px -58px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.minus-icon:hover {
  background-position: -163px -58px;
}

.minus-icon:active {
  background-position: -185px -58px;
}

.plus-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  font-size: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -280px 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.plus-icon:hover {
  background-position: -280px -20px;
}

.plus-icon:active {
  background-position: -280px -41px;
}

.search-form-input-text {
  font-size: 14px;
  line-height: 1;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  width: 346px;
  height: 40px;
  padding: 9px 10px;
  padding-right: 38px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  outline: none;
  border: 2px solid transparent;
}

.search-form-input-text:hover {
  background-color: #ebebeb;
}

.search-form-input-text:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.amount-of-people {
  width: 114px;
  padding-left: 38px;
  text-align: center;
}

.search-form-btn {
  font-size: 21px;
  line-height: 26px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-form-btn:hover {
  background-color: #669ec0;
}

.search-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.page-footer {
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 36px 0 43px;
  margin-top: -128px;
  text-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer-inner {
  margin-top: 0;
  background-color: #ffffff;
}

.hashtag, .footer-social, .footer-copyright {
  width: 400px;
}

.hashtag-link {
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-social {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.social-btn {
  display: block;
  width: 47px;
  height: 49px;
  margin-right: 5px;
  background-color: #81b3d2;
  font-size: 0;
  background-image: url("../img/social.png");
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:first-child {
  margin-left: auto;
}

.social-btn:last-child {
  margin-right: auto;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn-tw {
  background-position: -80px 2px;
}

.social-btn-tw:active {
  background-position: -177px 2px;
}

.social-btn-fb {
  background-position: -37px 0;
}

.social-btn-fb:active {
  background-position: 3px 0;
}

.social-btn-yt {
  background-position: -129px 1px;
}

.social-btn-yt:active {
  background-position: -226px 1px;
}

.footer-copyright-link {
  position: relative;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-right: 121px;
}

.footer-copyright-link::after {
  content: "HTML Academy";
  font-size: 0;
  position: absolute;
  top: -9px;
  right: -121px;
  width: 115px;
  height: 40px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -4px -69px;
}

.footer-copyright-link:hover::after {
  background-position: -4px -118px;
}

.footer-copyright-link:active::after {
  background-position: -161px -5px;
}

.filters {
  min-height: 218px;
  background-color: #4a779f;
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 28px 72px;
}

.filter-form {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-form-checkbox {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.filter-infrastructure {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-right: 117px;
  max-width: 150px;
}

.filter-accommodation {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  max-width: 150px;
}

.filter-caption {
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.filter-item {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 26px;
  height: 22px;
  background-image: url("../img/spritesheet.png");
  background-position: -99px -4px;
}

.filter-form-checkbox:checked+.filter-item::before {
  background-position: -110px -36px;
}

.filter-form-checkbox:disabled+.filter-item::before {
  background-position: -131px -4px;
  cursor: text;
}

.filter-form-checkbox:disabled+.filter-item {
  color: #6a6a6a;
  cursor: text;
}

.filter-form-checkbox:checked:disabled+.filter-item::before {
  background-position: -74px -36px;
  cursor: text;
}

.filter-form-checkbox:checked:disabled+.filter-item {
  color: #6a6a6a;
  cursor: text;
}

.filter-price {
  margin-left: auto;
  width: 318px;
}

.filter-price-caption {
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  min-height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls-label {
  display: block;
  width: 82px;
  margin-left: 64px;
  font-size: 14px;
  line-height: 21px;
  padding-top: 6px;
  cursor: pointer;
}

.price-controls-input {
  width: 50px;
  color: inherit;
  font: inherit;
  line-height: 1;
  background: none;
  border: none;
}

.slider {
  position: relative;
  margin-bottom: 32px;
}

.slider-long {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-short {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.slider-toggle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle:hover {
  background-color: #1c4f80;
}

.slider-min {
  left: 0;
}

.slider-max {
  left: 80%;
}

.filter-btn {
  display: block;
  margin: 0 auto;
  max-width: 136px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-btn:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 30px 73px;
  text-transform: uppercase;
}

.sort-regularize {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
}

.sort-regularize-max {
  width: 11px;
  height: 10px;
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -274px -68px;
  margin-right: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.sort-regularize-max:hover {
  background-position: -149px -88px;
}

.sort-regularize-max:active {
  background-position: -128px -88px;
}

.sort-regularize-min {
  width: 11px;
  height: 10px;
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -210px -68px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.sort-regularize-min:hover {
  background-position: -253px -68px;
}

.sort-regularize-min:active {
  background-position: -232px -68px;
}

.sort-regularize-active, .sort-regularize-active:hover, .sort-regularize-active:active {
  background-position: -232px -68px;
  cursor: default;
}

.amount-of-sort {
  font-size: 21px;
  line-height: 26px;
  margin-right: 48px;
}

.sort-types {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.sort-types-span {
  font-size: 12px;
  line-height: 18px;
  margin-right: 39px;
}

.sort-types-btns {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort-types-btn {
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
  margin-right: 26px;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  cursor: pointer;
}

.sort-types-btn:last-child {
  margin-right: 0;
}

.sort-types-btn:hover {
  color: #81b3d2;
}

.sort-types-btn:active {
  color: #000000;
  border: none;
}

.sort-types-btn-active, .sort-types-btn-active:hover, .sort-types-btn-active:active {
  color: #81b3d2;
  border: none;
  cursor: default;
}

.info-photo-hotel-img {
  display: block;
  width: 135px;
  height: 90px;
}

.catalog-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 30px 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog-price {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 30px;
  max-width: 300px;
}

.item-stars-and-rang {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-left: auto;
}

.item-stars {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.star {
  display: block;
  width: 18px;
  height: 17px;
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -170px -88px;
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.star:last-child {
  margin-right: 0;
}

.item-rang {
  color: #666666;
  text-transform: uppercase;
  padding: 1px 14px;
  background-color: #f2f2f2;
}

.item-name-link {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -3px;
  color: #000000;
  text-decoration: none;
}

.item-name-link:hover {
  color: #81b3d2;
}

.item-name-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.item-type {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-right: 6px;
  max-width: 150px;
}

.item-price {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  max-width: 150px;
}

.item-type-price-span {
  display: block;
  margin-bottom: 14px;
}

.btn {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 3px 17px;
}

.btn-more {
  background-color: #81b3d2;
}

.btn-more:hover {
  background-color: #669ec0;
}

.btn-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-book-it {
  background-color: #766357;
}

.btn-book-it:hover {
  background-color: #604e43;
}

.btn-book-it:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
